body {
	background-color: #0002bf;
	color: white;
	font-family: Arial;
	font-size: 1.1em;

}

img {
	display: block;
	position: relative;
	top: 25px;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
}

.container {
  	background-color: midnightblue;
  	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

h1, h2 {
	font-family: 'WaltographRegular';
	font-weight: normal;
	font-style: normal;
	font-size: 3.5em;
	text-align: center;
}

.description {
	text-align: center;
}

button {
	position: relative;
	display: block;
	height: 35px;
	width: 200px;
	font-size: 1em;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: #0002bf;
	color: white;
}

button:hover {
	background-color: white;
	color: #0002bf;
	cursor: pointer;
}

fieldset {
	display: none;
	border: none;
}

.choices {
	margin-top: 20px;
	margin-bottom: 15px;
}

input {
	margin-bottom: 15px;
}

.next-question, .get-results {
	display: none;
}

.counter {
	display: none;
	text-align: center;
}

.display-correct {
	color: #22dc71;
	font-weight: bold;
}

.display-incorrect {
	color: red;
	font-weight: bold;
	text-decoration: line-through;
}

.invalid-input {
	display: none;
	color: red;
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 20px;
}

.results {
	display: none;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 20px;
}