.question {
	display: none;
}

.next-question, .get-results {
	display: none;
}

.counter {
	display: none;
}

.display-correct {
	color: green;
	text-decoration: underline;
	font-weight: bold;
}

.display-incorrect {
	color: red;
	text-decoration: line-through;
}

.results {
	display: none;
}