body {
	background-color: #0002bf;
	color: white;

}

.container {
	background-image: linear-gradient(
  	rgba(0, 0, 0, 0.5),
  	rgba(0, 0, 0, 0.5));
  	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

h1, h2 {
	font-family: 'WaltographRegular';
}

fieldset {
	/*width: 50%;*/
}

fieldset {
	display: none;
}

.next-question, .get-results {
	display: none;
}

.counter {
	display: none;
}

.display-correct {
	color: #22dc71;
	text-decoration: underline;
	font-weight: bold;
}

.display-incorrect {
	color: red;
	text-decoration: line-through;
}

.invalid-input {
	display: none;
	color: red;
	font-weight: bold;
}

.results {
	display: none;
}